// Color Variables
$light-grey-clr: #ecf0f1;
$dark-grey-clr: #bdc3c7;
$light-blue-clr: #2980b9;
$dark-blue-clr: #34495e;
$very-dark-blue-clr: #2c3e50;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
